<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pure.css') }}">-->
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">-->
<script src="js/script_head.js"></script>

<title>Already Login</title>
</head>

<body>

    <div id="header" style = "background-color: #CEC2E8" class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item" style = "background-color: #E8673A"><a href="/home" class="pure-menu-link">Home</a ></li>

                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover" >
                        <a href="#" style = "background-color: #E8DB3A" id="menuLink1" class="pure-menu-link">📖 Discussion</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item" style = "background-color: #E8DB3A"><a href="Post" class="pure-menu-link">Post</a></li>
                            <li class="pure-menu-item" style = "background-color: #E8DB3A"><a href="postSearch" class="pure-menu-link">Find</a></li>
                        </ul>
                 </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" style = "background-color: #7FE83A" id="menuLink2" class="pure-menu-link">👥 Contact</a >
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item" style = "background-color: #7FE83A"><a href="/friendList" class="pure-menu-link">FriendList</a></li>
                            <li class="pure-menu-item" style = "background-color: #7FE83A"><a href="addFriend" class="pure-menu-link">AddFriend</a></li>
                            <li class="pure-menu-item" style = "background-color: #7FE83A"><a href="removeFriend" class="pure-menu-link">RemoveFriend</a></li>
                        </ul>
                 </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" style = "background-color: #3AE5E8" id="menuLink3" class="pure-menu-link">✉️ Message️</a >
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item" style = "background-color: #3AE5E8"><a href="inbox" class="pure-menu-link">Inbox</a ></li>
                            <li class="pure-menu-item" style = "background-color: #3AE5E8"><a href="/alreadySent" class="pure-menu-link">AlreadySent</a ></li>
                            <li class="pure-menu-item" style = "background-color: #3AE5E8"><a href="Send" class="pure-menu-link">Send</a ></li>
                        </ul>
                 </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" style = "background-color: #3A77E8" id="menuLink4" class="pure-menu-link">👤 User️</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item" style = "background-color: #3A77E8"><a href="rename" class="pure-menu-link">Rename</a></li>
                            <li class="pure-menu-item" style = "background-color: #3A77E8"><a href="changePw" class="pure-menu-link">ChangePassword</a></li>
                            <li class="pure-menu-item" style = "background-color: #3A77E8"><a href="/help" class="pure-menu-link">Help</a></li>
                            <li class="pure-menu-item" style = "background-color: #3A77E8"><a href="/signOut" class="pure-menu-link">LogOut</a></li>
                        </ul>
                 </li>
            </ul>
    </div>

</body>


